:host {
    display: block;
    margin: 1rem;
  }
  
  .slds-card {
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .slds-card__header {
    background-color: #605f5f;
    padding: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    border-bottom: 1px solid #581e1e;
  }
  
  .slds-card__body {
    padding: 1rem;
  }
  